# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

# Python cache igunore
__pycache__

# Node modules ignore
node_modules

# DynamoDB Local files ignore
.dynamodb

# .env ignore 
.env

# container history file ignore 
.docker/runner/.bash_history
